.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;

  h1 {
    font-size: 2.5rem;
    color: #8e5b4f;
    margin-bottom: 20px;
  }

  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Mantém a largura mínima */
    gap: 20px; /* Espaço entre os cards */
    width: 100%; /* Garante que o grid use toda a largura disponível */

    .product-card {
      margin-top: 130px;
      background-color: #e9d9d5;
      border-radius: 34px;
      padding: 15px;
      text-align: center;
      transition: transform 0.3s;
      display: flex;
      flex-direction: column; /* Alinha os elementos verticalmente */
      justify-content: space-between; /* Garante que os botões fiquem na parte inferior */
      height: 500px; /* Aumenta a altura fixa dos cards */

      .image-container {
        width: 100%;
        height: 300px; /* Aumenta a altura das imagens */
        overflow: hidden;

        img {
          width: 100%;
          height: 100%; 
          object-fit: contain; /* Ajusta a imagem para caber no contêiner sem cortar */
          display: block; 
          border-radius: 3px; 
        }
      }

      h3 {
        font-size: 1.5rem;
        color: #333;
        margin: 10px 0;
      }

      p {
        color: #666;
        margin: 5px 0;
      }

      .price {
        font-weight: bold;
        color: #8e5b4f;
      }

      .button-container {
        display: flex;
        justify-content: center;
        margin-top: auto; /* Faz com que o espaço acima dos botões seja flexível */

        .view-button,
        .add-button {
          margin: 0 5px; /* Margem lateral para os botões */
          padding: 10px;
          background-color: #f25c54;
          color: #fff; /* Melhoria na legibilidade */
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;
          border-radius: 34px;

          &:hover {
            background-color: #7a4a3b; /* Mantenha a cor hover */
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 2rem;
    }

    .product-card {
      height: 400px; /* Ajusta a altura em telas menores */
    }

    .product-card h3 {
      font-size: 1.2rem;
    }
  }

  @media (max-width: 480px) {
    h1 {
      font-size: 1.5rem;
    }

    .product-card {
      height: 350px; /* Ajusta a altura para telas pequenas */
    }

    .product-card h3 {
      font-size: 1rem;
    }
  }
}
