.frasedeefeito {
  margin-top: 20%;
  text-align: center;

  .h1 {
    color: #800f2f;
    font-size: 40px;
  }

  .cards-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;

    .card {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      text-align: center;
      padding: 20px;
      width: 200px;

      img {
        border-radius: 8px;
        max-width: 100%;
        height: auto;
      }

      h3 {
        margin: 10px 0;
        font-size: 1.5em;
        color: #800f2f; // Mantendo a paleta de cores
      }

      p {
        color: #666;
      }
    }
  }
}

// Container geral
.home-container {
  font-family: Arial, sans-serif;
  padding: 20px;

  header {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
  }

  .dynamic-section {
    margin: 20px 0;

    .ideas {
      h2 {
        color: #333;
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          background: #e9ecef;
          margin: 10px 0;
          padding: 10px;
          border-radius: 5px;
        }
      }
    }
  }

  .footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
    margin-top: 20px;
  }
}
