.frasedeefeito{
margin-top: 20%;
text-align: center;

}

.h1{

color: #800f2f;
font-size: 40px;
}

// src/inicio.scss
.home-container {
  font-family: Arial, sans-serif;
  padding: 20px;

  header {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
  }

  .dynamic-section {
    margin: 20px 0;

    .ideas {
      h2 {
        color: #333;
      }

      .rounded-image {
        border-radius: 15px; /* Arredondando as bordas da imagem */
        max-width: 100%; /* Faz a imagem ser responsiva */
        height: auto; /* Mantém a proporção da imagem */
        margin-bottom: 20px; /* Espaço abaixo da imagem */
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          background: #e9ecef;
          margin: 10px 0;
          padding: 10px;
          border-radius: 5px;
        }
      }
    }
  }

  .footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
    margin-top: 20px;
  }
}
