.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: #e5bba0;
    flex-wrap: wrap;

      .logo {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        margin-right: auto;
        object-fit: cover;
      }
  
      .nav {
        display: flex;
        flex-wrap: wrap;
      
        .button {
          padding: 10px 15px; 
          background-color: #007bff; 
          border: none; 
          border-radius: 5px;
          text-decoration: none; 
          cursor: pointer; 
          transition: background-color 0.3s; 
        }
        
    
        .contato {
          display: flex;
          background-color: #28a745; 
          gap: 20px;
        }
.nav{
  display:flex;
  flex-direction: row;
  gap: 50px;

}   
        .contato:hover {
          background-color: #218838; 
        }
        
       
        .carrinho {
          background-color: #ffc107;
        }
        
        .carrinho:hover {
          background-color: #e0a800;
        }
        
        
        .sobre {
          background-color: #17a2b8; 
        }
        
        .sobre:hover {
          background-color: #138496;
        
        
        .produtos {
          background-color: #007bff; 
        
        .produtos:hover {
          background-color: #0056b3; 
        }
        
        
        .login {
          background-color: #6f42c1; 
        }
        
        .login:hover {
          background-color: #5a3e9c;
        }
      }
        }
      }
    }
  