.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
background-color: #f25c54;
position: fixed;
width: 100%;
top: 0%;
z-index: 10;
}

.logo {
  
  width:125px ;
  height: 125px; 
  margin-left: 60px;
  border-radius:100% ;


}

.nav {
  display: flex;
  gap: 100px; 
  padding-right: 90px;
}

.nav a {
  text-decoration: none;
  color: rgb(182, 131, 131);  
  font-weight: bold;
  padding: 10px;
  transition: color 0.3s;
  background-color:  #e9d9d5;
  border-radius: 20px; 
  font-size: 25px;
   
}

.nav a:hover {
  color: red; 

}

.nav{
  display: flex;
  gap: 150px;
}