.footer{
    position: relative;
    background-color: black;
    height: 140px;
    top: -100px;

}

.master-footer{
    position: relative;
    background-color: black;
    height: 140px;
    top: -100px;
}